//---------------------------------------------------------------------------
//
// Name:        ProyectoDosApp.rc
// Author:      Nomar
// Created:     04/04/2017 02:55:31 PM
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
